@use "./variables" as v;
@use "./mixins" as m;
@use "./extends" as e;

body {
    width: 100%;
    margin: 0;
    background-color: v.$ivoryWarm;
    font-family: v.$mainFont;
    color: v.$deepNavy;
    font-weight: 400;
}

main {
    margin: .5rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: v.$deepNavy;
    padding: 1rem;

    &__menu {
        @include m.icon();
    }

    &__logo {
        width: 75px;
        padding: .5rem;
        border-radius: .5rem;
    }

    &__searchbar {
        display: flex;
        direction: row;
        gap: 10px;
        
        input {
            padding: .5rem 1rem;
            width: 250px;
            height: 20px;
            border: none;
            border-radius: 50px;
            font-size: .80rem;
        }

        &__search {
            @include m.icon();
        }
    }
}

.sectionTitle {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    
    &__txt {
        font-size: 1.75rem;
        width: fit-content;
        border-bottom: 2px solid v.$deepNavy;
        padding: .5rem;
    }

    &__return {
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: .25rem;
        cursor: pointer;

        &__img {
            width: 16px;
        }

        &__txt {
            color: v.$ashGray;
            font-size: .75rem;
            margin: 0;
        }

    }
}

.tvShowGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    @include m.hideScrollbar();

    &__wrapper {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 150px;
            height: 100%;
            background: linear-gradient(to right, transparent, #F6F3EA);
            pointer-events: none;
            opacity: 1;
            transition: opacity 0.3s ease;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 150px;
            height: 100%;
            background: linear-gradient(to left, transparent, #F6F3EA);
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.3s ease;
            z-index: 1;
        }

        &.hide-right::after {
            opacity: 0;
        }

        &.show-left::before {
            opacity: 1;
        }
    }
    
}