@use "./variables" as v;
@use "./mixins" as m;
@use "./extends" as e;

body {
    width: 100%;
    margin: 0;
    background-color: v.$ivoryWarm;
    font-family: v.$mainFont;
    color: v.$deepNavy;
    font-weight: 400;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: v.$deepNavy;
    padding: 1rem;

    &__menu {
        @include m.icon();
    }

    &__logo {
        width: 75px;
        padding: .5rem;
        border-radius: .5rem;
    }

    &__searchbar {
        display: flex;
        direction: row;
        gap: 10px;
        
        input {
            padding: .5rem 1rem;
            width: 250px;
            height: 20px;
            border: none;
            border-radius: 50px;
            font-size: .80rem;
        }

        &__search {
            @include m.icon();
        }
    }
}