@mixin mobile {
    @media screen and (max-width: 46rem) {@content}
};

@mixin tablet {
    @media screen and (min-width: 46rem) {@content}
};

@mixin laptop {
    @media screen and (min-width: 64rem) {@content}
};

@mixin icon {
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.05);
    }
}

@mixin hideScrollbar {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}